[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = "==1.4.29"
fastapi = "*"
uvicorn = "*"
psycopg2-binary = "*"
pylint = "*"
django-environ = "*"
PyJWT = "*"
httplib2 = "*"
oauth2client = "*"
Jinja2 = "*"
passlib = "*"
cryptography = "*"
openpyxl = "*"
python-jose = "*"
python-multipart = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.9"
