anyio==3.5.0
fastapi==0.72.0
greenlet==1.1.2; python_version >= '3' and (platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32'))))))
idna==3.3
pydantic==1.9.0
sniffio==1.2.0
sqlalchemy==1.4.29
starlette==0.17.1
typing-extensions==4.0.1
